@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body ,html{
    width: 100%;
    height: 100%;
}
#navbar{
    float: right;
}
#navbar a:hover{
    color: #fff;
}
#navbar a{
    color: #e2e2e2;
    margin-right: 75px;
    transition: color .7s ease;
}
#colored{
    background: linear-gradient(90deg, rgba(67,4,161,1) 0%, rgba(194,35,251,1) 100%, rgba(255,0,202,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: #fff;
    margin: 25px;
}
.header-content{
    max-width: 1366px;
    height: 100%;
    margin: 0 auto;
    line-height: 50px;
}
.header{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 0px 4px 1px rgb(44, 44, 44);
    background: linear-gradient(90deg, rgba(66,0,164,1) 0%, rgba(109,51,215,1) 100%, rgba(103,35,251,1) 100%);
    transition: top .7s ease;
}
#conpar{
    color: #fff;
    font-size: 25px;
    top: 45px;
    padding: 10px;
    position: relative;
    text-align: center;
}
#conh{
    color: #fff;
    font-size: 40px;
    top: 25px;
    text-align: center;
    position: relative;
}
#conlogo{
    background: linear-gradient(90deg, rgba(67,4,161,1) 0%, rgba(194,35,251,1) 100%, rgba(255,0,202,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 110px;
}
.left-cont{
    width: 50%;
    height: 100%;
}
.right-cont{
    width: 50%;
    height: 100%;
}
.container{
    max-width: 100%;
    height: 300px;
    display: flex;
}
#content_o{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    max-width: 1366px;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
}
.filter{
    width: 100%;
    height: 100%;
    background-color: rgba(29, 6, 66, 0.603);
}
.band{
    width: 100%;
    height: 800px;
    background: linear-gradient(90deg, rgba(97,23,207,1) 0%, rgba(132,35,251,1) 100%, rgba(255,0,202,1) 100%);
}
#contents-tit{
    color: #fff;
    top: 120px;
    text-transform: uppercase;
    position: relative;
}
.top-tit{
    max-width: 700px;
    height: 155px;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #fff;
}
#contents-bot-tit{
    top: 55px;
    color: #fff;
    font-size: 19px;
    position: relative;
}
.bot-tit{
    max-width: 700px;
    height: auto;
    margin: auto;
    padding: 10px;
    text-align: center;
}
#bottom-l-content{
    color: #fff;
    padding: 10px;
    top: 40px;
    position: relative;
    text-align: center;
}
#circle-title{
    color: #fff;
    top: 15px;
    font-size: 18px;
    position: relative;
    text-align: center;
}
.bottom-con-box{
    width: 100%;
    top: 25px;
    position: relative;
    height: 240px;
    box-shadow: inset 0px 0px 10px 0.5px rgba(0, 66, 75, 0.342);
    background-color: #4817b3;
}
.top-circle{
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    background-color: #4817b3;
}
.vertical-box{
    max-width: 350px;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
}
#ppc{
    width: 70px;
    height: 70px;
    border-radius: 150px;
}
.op-circle{
    width: 70px;
    height: 70px;
    border-radius: 150px;
    margin: 10% auto;
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px rgb(150, 40, 122);
}
.op-box{
    width: 200px;
    height: 100%;
    margin-left: 25px;
    margin-right: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 2px rgb(101, 17, 180);
}
.nopacity-box{
    width: 90%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content_t{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_s{
    width: 100%;
    height: auto;
    top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circle-content{
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.background{
    max-width: 100%;
    background-size: cover;
    height: 100%;
}
#back_o{
    background-image: url(img/back.jpg);
    background-attachment: fixed;
    height: 85%;
}
#back_t{
    background-image: url(img/back_t.jpg);
    background-attachment: fixed;
    height: 100%;
}
#back_f{
    height: 900px;
    background: linear-gradient(90deg, rgba(97,23,207,1) 0%, rgba(132,35,251,1) 100%, rgba(255,0,202,1) 100%);
}
.footer-content{
    margin: auto;
    height: 100%;
    max-width: 1366px;
}
#foot-title:hover{
    color: #fff;
}
#foot-title{
    color: rgb(173, 173, 173);
    display: block;
    top: 25px;
    position: relative;
    text-transform: capitalize;
    font-size: 15px;
    margin-bottom: 25px;
 }
.footer-container{
    max-width: 50%;
    height: 100%;
    left: 25px;
    top: 15px;
    border-top: 1px solid #fff;
    position: relative;
}
.side{
    width: 50%;
    height: 100%;
    position: relative;
}
.footer-top{
    max-width: 1200px;
    height: 200px;
    margin: auto;
    display: flex;
    position: relative;
}
#footer-bottom-text{
    color: #fff;
    bottom: 10px;
    left: 35px;
    position: absolute;
}
.footer-bottom{
    max-width: 1200px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    border-top: 1px solid #fff;
}
.footer{
    max-width: 100%;
    height: 250px;
    background: linear-gradient(90deg, rgba(44,8,96,1) 0%, rgba(77,26,148,1) 100%, rgba(109,51,215,1) 100%);
}
/*For Responsive menu check settings*/
.checker{
    color: #fff;
    font-size: 25px;
    display: none;
}
#check{
    display: none;
    position: absolute;
}
/*Responsive Side*/
@media screen and (max-width:1080px){
.op-circle{
    margin: auto;
}
.op-box{
    width: 100%;
    height: 20%;
    top: 5%;
    margin: 4% auto;
    position: relative;
    overflow: hidden;
    display: flex;
}
.nopacity-box{
    height: 100%;
    display: block;
}
#foot-title{
    margin-bottom: 7px;
    font-size: 12px;
}
#footer-bottom-text{
    font-size: 12px;
}
.footer-container{
    border-top: none;
}
.vertical-box{
    height: 100%;
    margin: 60px auto;
    position: relative;
}
.container_s{
    height: auto;
    display: block;
    top: 0;
    position: relative;
}
.band{
    height: 1650px;
}
#back_f{
    height: 1650px;
}
#conpar{
    color: #fff;
    font-size: 20px;
    top: 45px;
    position: relative;
    text-align: center;
}
#conh{
    color: #fff;
    font-size: 25px;
    top: 25px;
    text-align: center;
    position: relative;
}
#conlogo{
    color: #fff;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 110px;
}    

#navbar a{
 margin-left: 25px;
 display: block;
 margin-top: 15px;
}
#navbar{
    float: right;
    width: 200px;
    height: 0px;
    top: 50px;
    overflow: hidden;
    position: absolute;
    transition: all .5s ease;
    background: linear-gradient(90deg, rgba(66,0,164,1) 0%, rgba(109,51,215,1) 100%, rgba(103,35,251,1) 100%);
    text-align: left;
} 
.checker{
     display: inline-block;
     float: right;
     cursor: pointer;
     position: relative;
     transition: all .5s ease;
     margin-right: 25px;
 }
 #check:checked ~#navbar{
    height: 215px;
    box-shadow: 1px 1px 4px 0.5px rgb(0, 0, 0);
}
#check:checked ~.checker{
    transform: rotate(-180deg);
    top: 5px;
    color: rgb(255, 7, 201);
}
}
@media screen and (max-width:542px){
    .left-cont{
       width: 100%;
       height: 35%;
   }
   .right-cont{
       width: 100%;
       height: 65%;
   }
   .container{
       height: 100%;
       display: block;
   }
}
/*Scroll bar customisation*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #460b75;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: rgb(159, 30, 233);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 221);
  }
  